body, html {
  margin: 0;
}

canvas {
  display: block;
}

.hide {
  color: white;
  position:absolute;
  left:0px;
  top:0px;
  width:auto;
  max-width:380px;
  height:auto;
  

  
}
div {
  color: white;
}




