body, html {
  margin: 0;
}

canvas {
  display: block;
}

.hide {
  display: ;
  color: white;
position:absolute;
left:0px;
top:0px;
width:auto;
max-width:380px;
  height:auto;
  
  border-bottom-right-radius:10px;

  
}
div {
  color: white;
}




