body, html {
  margin: 0;
}

canvas {
  display: block;
}

.hide {
  display: ;
}
div {
  color: white;
}


h1 {
  font-size: 80px;
}


#info {
  position:absolute;
  
  left:0px;
  top:0px;
  width:auto;
  max-width:380px;
  height:auto;
  
  border-bottom-right-radius:10px;
}
